* {
    box-sizing: border-box;
}

body{
    background-color: #FEF8FA;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.container-sm{
    background: rgba(255, 255, 255, 0.78);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    height: 100%;
}

.img-logo{
    height: 3rem;
    width: auto;
    margin-bottom: 5px;
}

.header-text{
    background: -webkit-linear-gradient(90deg, rgba(187,102,255,1) 0%, rgba(255,165,51,1) 50%, rgba(255,107,110,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar{
    background-color: transparent;
}

.program-box{
    width: auto;
    height: max-content;
    margin: auto;
    margin-top: 0.5rem;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
}

.card-img-top{
    height: 20rem;
    width: auto;;
    object-fit: cover;
    object-position: center;
}

.navbar, .nav-link{
    color: black;
}

.active{
    font-weight: bold;
    color: rgba(255,165,51,1);
}

.player:hover{
    color: rgba(187,102,255,1);
}

.library:hover, .library.active:hover{
    color: rgba(255,165,51,1);
}

.presenter:hover, .presenter.active:hover{
    font-weight: bold;
    color: rgba(255,107,110,1);
}

.card-footer *{
    text-decoration: none;
    font-size: 1.2rem;
}

.card-footer a{
    margin-right: 1rem;
}

.fa-facebook {
    color: #3B5998;
}

.fa-instagram {
    color: #125688;
}

.fa-linkedin {
    color: #007bb5;
}

.fa-twitter {
    color: #55ACEE;
}

#presenters {
    padding-top: 20px;
    padding: auto;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.606);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#progress-overlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.606);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(255, 167, 51, 0.5);
    border-right:6px solid rgba(255, 165, 51, 0.5);
    border-bottom:6px solid rgba(255, 165, 51, 0.5);
    border-top:6px solid rgba(255, 107, 110, 1);
    border-radius:100%;
 }
 
 @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
 }
 @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
 }
 @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
 }
 @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
 }